<meta charset="UTF-8">
<!DOCTYPE html>
<html>
<head>
    <title>Host Characteristics</title>
</head>
<body>
    <h1>Host Characteristics:</h1>
    <ul>
        <li>CPU: {{ cpu_info }}</li>
        <li>RAM: {{ ram_info }}</li>
        <li>First HDD Size: {{ first_disk_size }}</li>
        <li>IP Address: {{ ip_address }}</li>
    </ul>
</body>
</html>
